{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'index/em_form.css' %}">
<section id="banner" class="banner">
  <div class="bg-color">
    <div class="container">
      <div class="row">
        <div class="banner-info">
          <div class="banner-logo text-center">
            <img style="  height: 130px; width: 400px;" src="{% static 'index/img/logo1.png' %}" class="img-responsive">
          </div>
          <div class="banner-text text-center">
            <h1 class="white">Build a resistance against crime !</h1>
            <p></p>
              {% if not user|user_check == 'police' %}
            <a href="#" class="btn btn-appoint" onclick="openForm()">Emergency Faced crime</a>
              {% endif %}
          </div>
          <div class="overlay-detail text-center">
            <a href="#service"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ banner-->

<!--cta-->


<form class="form-style-9" id="eForm">{% csrf_token %}
  <ul>
    <li>
      <input id="name11" type="text" name="name" class="field-style field-split align-none" placeholder="Name" />
      <input id="phone" type="text" name="phone" class="field-style field-split align-none"
        placeholder="Phone Number" />

    </li>
    <li>
      <div class="custom-select">
        <select style="width: 120px; height: 36px; background-color: rgb(255, 255, 255);" class="chech">
          <option value="">Division</option>
          <option value="dhaka">Dhaka</option>
          <option value="chittagong">chittagong</option>
          <option value="barishal">Barishal</option>
          <option value="khulna">Khulna</option>
          <option value="rajshahi">Rajshahi</option>
          <option value="rangpur">Rangpur</option>
          <option value="sylhet">Sylhet</option>
          <option value="mymensingh">Mymensingh</option>
        </select>
        <select id="check11" style="width: 120px; height: 36px; background-color: rgb(255, 255, 255);">
          <option></option>
        </select>
      </div>

    </li>
    <li>
      <input id="location" type="text" name="field1" class="field-style field-split align-none"
        placeholder="Location" />

    </li>
    <li>
      <textarea id="msg" name="field5" class="field-style" placeholder="Message"></textarea>
    </li>
    <button type="submit" class="button">Send Alert</button> <button onclick="closeForm()"
      class="buttonc">Close</button>

  </ul>
</form>
<!--endemergency form-->

<script>

  $(document).on('submit', '#eForm', function (e) {
    e.preventDefault()

    $.ajax({
      type: 'POST',
      url: '{% url "emergency" %}',
      data: {
        name: $('#name11').val(),
        phone: $('#phone').val(),
        district: $('#check11').val(),
        location: $('#location').val(),
        message: $('#msg').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function (data) {
        alert(data)
      }
    })
    $("#eForm").hide();
  });
</script>



<script>
  function openForm() {
    document.getElementById('eForm').style.display = "block"
  }

  function closeForm() {
    document.getElementById('eForm').style.display = "none"
  }
</script>

<script src="{% static 'loc.js' %}"></script>


{% endblock %}